.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: "flex";
  align-content: "center";
  justify-content: "center";
  padding: 30px;
  height: 120px;
  width: 330px;
  background-color: rgba(18, 110, 143, 0.424);
  border-radius: 10px;
}
